{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<div class="jumbotron border-round-0 min-50vh"
     {% if profile.profile_cover %}
     style="background-image:url({{ profile.profile_cover.url }});"
     {% endif %}
>
</div>
<div class="container mb-4">
    <img
            {% if profile.profile_pic %}
            src="{{ profile.profile_pic.url }}"
            {% else %}
            src="{% static 'img/av.png' %}"
            {% endif %}
            class="mt-neg100 mb-4 rounded-circle" width="128">
    <h1 class="font-weight-bold title">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <p>
        {{ profile.description }}
    </p>
</div>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="card-columns">
            {% for photo in photos %}
            <div class="card card-pin">
                <img class="card-img" src="{{ photo.photo.url }}" alt="Card image">
                <div class="overlay">
                    <h2 class="card-title title">{{ photo.title }}</h2>
                    <div class="more">
                        <a href="post.html">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}