{% extends 'base/base.html' %}
{% block page_content %}
    <section class="bg-gray200 pt-5 pb-5">
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-7">
    			<article class="card">
    			<img class="card-img-top mb-2" src="{{ photo.photo.url }}" alt="Card image">
    			<div class="card-body">
    				<h1 class="card-title display-4">{{ photo.title }}</h1>
                    <p>Author: <a href="{% url 'account' photo.user_profile_id %}">{{ photo.user_profile }}</a></p>
                    <div>
                        {{ photo.description }}
                    </div>
                    {% if user_post %}
                        <div class="d-flex mt-4">
                            <a class="btn btn-secondary mr-3 profile-button text-white" href="{% url 'photo edit' photo.pk %}">Edit Photo</a>
                            <a class="btn btn-primary bg-danger profile-button text-white" href="{% url 'photo delete' photo.pk %}">Delete Photo</a>
                        </div>
                    {% endif %}
    				<!-- Begin Comments -replace demowebsite with your own id
                    ================================================== -->
    				<div id="comments" class="mt-4">
    					<div id="disqus_thread">
    					</div>
    					<script type="text/javascript">
                            var disqus_shortname = 'demowebsite'; 
                            var disqus_developer = 0;
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
    					<noscript>
    					Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    					</noscript>
    				</div>
    				<!--End Comments
                    ================================================== -->
    			</div>
    			</article>
    		</div>
    	</div>
    </div>
    </section>
{% endblock %}